/* Reset basique */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    background-color: white;
    z-index: 100;
    padding: 0 100px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: transform 0.3s ease;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
}



/* Logo */
.logo img {
    height: 200px;
}

/* Liens de navigation */
.nav-links {
    list-style: none;
    display: flex;
    gap: 2rem;
}

.nav-links li a {
    text-decoration: none;
    color: #027361; 
    font-weight: 600;
    font-size: 1rem;
    transition: color 0.3s ease;
}

.nav-links li a:hover {
    color: #4caf50; 
}

/* Responsive */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        height: auto;
        padding: 1rem 24px;
    }

    .nav-links {
        flex-direction: column;
        width: 100%;
        gap: 1rem;
        margin-top: 1rem;
    }

    .nav-links li {
        width: 100%;
    }

    .nav-links li a {
        display: block;
        width: 100%;    
    }
}
