<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Connecter/Inscrire</title>
  <script src="https://unpkg.com/vue@3"></script>
  <link rel="stylesheet" href="..\style\inscription.css" />

</head>
<body>
  <div id="app">
    <div class="signup-container">
      <div class="toggle-btn">
        <button
          :class="{active: isRegister}"
          @click="isRegister = true"
          type="button"
        >
          S'inscrire
        </button>
        <button
          :class="{active: !isRegister}"
          @click="isRegister = false"
          type="button"
        >
          Se connecter
        </button>
      </div>

      <!-- Inscription -->
      <form v-if="isRegister" @submit.prevent="submitRegister">
      <input type="text" v-model="registerForm.name" placeholder="Nom" required />
      <input type="email" v-model="registerForm.email" placeholder="Email" required />
      <input type="password" v-model="registerForm.password" placeholder="Mot de passe" required />
      <input type="tel" v-model="registerForm.phone" placeholder="Numéro de téléphone" required />
      <input type="text" v-model="registerForm.street" placeholder="Addresse" required />
      <input type="text" v-model="registerForm.city" placeholder="Ville" required />
      <input type="text" v-model="registerForm.postal" placeholder="Code Postal" required />
      <input type="text" v-model="registerForm.country" placeholder="Pays" required />
      <label style="display:flex;align-items:center;margin:8px 0;">
        <input type="checkbox" v-model="registerForm.terms" required style="margin-right:8px;" />
        J'accepte <a href="tos.html" target="_blank"> les termes et conditions.</a>
      </label>
      <button type="submit">Inscrire</button>
      </form>

      <!-- Connexion -->
      <form v-else @submit.prevent="submitLogin">
      <input type="email" v-model="loginForm.email" placeholder="Email" required />
      <input type="password" v-model="loginForm.password" placeholder="Password" required />

      <a href="mdpOublie.html" style="font-size: 0.9em; margin-bottom: 10px; display: inline-block;">
        Mot de passe oublié ?
      </a>
  
      <button type="submit">Se connecter</button>
      </form>

      <div v-if="message" class="success">{{ message }}</div>
    </div>
  </div>

  <script src="../script/connexionAdmin.js"></script>
</body>
</html>
